@import url('https://fonts.googleapis.com/css2?family=Montserrat+Sans:wght@300;400;500&display=swap');

:root {
  --azure: #007bff;
  --black-5: rgba(0, 0, 0, 0.05);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 1rem;
  padding: 3rem;
  font-family: 'Shantell Sans', cursive;
}

.quote {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-family: 'Shantell Sans', cursive;
}

nav {
  display: flex;
  background-color: #fff;
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
  margin: 2.313rem 6.25rem;
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 30.5rem 0.688rem 3.563rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  min-width: 271px;
}

ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul li a:hover {
  text-decoration: underline;
}

ul {
  background-color: #fff;
  padding: 0;
}

.user {
  margin-top: 1.125rem;
}